@keyframes blurIn {
    0% {
        opacity: 0;
        filter: blur(16px);}
    25% {
        opacity: 0.25;
        filter: blur(12px);}
    50% {
        opacity: 0.50;
        filter: blur(8px);}
    75% {
        opacity: 0.75;
        filter: blur(4px);}
    90%{
        opacity: .90;
        filter: blur(2px);}
    100% {
        opacity: 1;
        filter: blur(0px);}
  }

.backgroundModule{
   /* background: url(https://source.unsplash.com/random/2400x1801/?nature,snow); */
    position: absolute;
    animation: blurIn;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.backgroundColor{
    position: absolute;
    
}

.backgroundModule::before{
    content: "";
    
    
    width: 100vw;
    height: 100vh;
    
}

html{
    padding: env(safe-area-inset);
}

@media screen and (orientation: landscape){
    .backgroundModule{
        /* background: url(https://source.unsplash.com/random/2400x1801/?nature,snow); */
         height: auto;
         width: auto;
         animation: blurIn;
         animation-duration: 3s;
         animation-timing-function: linear;

         
     }
}